    <!-- FOOTER -->
    <footer>
        <div class="footer-line"></div>
        <div class="footer-content">
            <p>
                Fakultas Teknologi Informasi Universitas Tarumanagara<br>
                Jl. Let. Jend. S. Parman No.1, Blok H Lantai 11, Jakarta 11440<br>
                Telp: 021-56958750, Fax: 021-56958744<br>
                Web: http://103.73.23.18/PenjadwalanSeminarMagang
            </p>
            <span>2025</span>
        </div>
    </footer>