    <header>
        <div class="header-content">
            <img src="logo.png" alt="Logo UNTAR" class="logo">
            <h1>
                Penjadwalan Seminar Magang menggunakan<br>
                Algoritma Greedy FTI UNTAR
            </h1>
        </div>
        <div class="header-line"></div>
    </header>